/* animations */

/* text link hover */
span a:hover {
    transition: all 0.2s ease-in-out;
    color: var(--accent);
}

/* before hover */
.hover__animation {
    transform: scale(1.0);
    transition: all 0.2s ease-in-out;
}

/* hover */
.hover__animation:hover {
    transform: var(--slightly-bigger);
    transition: all 0.2s ease-in-out;
}
.hover__animation:hover svg, 
.hover__animation:hover span {
    color: var(--accent);
}

/* button animation */
.contact-button:hover {
    background-color: var(--accent);
}
.contact-button:hover svg, 
.contact-button:hover span {
    color: var(--black);
}

/* card animation */
.card {
    animation: 0.8s card-loading ease-in-out;
}

@keyframes card-loading {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1.0);
    }
  }


.card .card__icon {
    transform: scale(1.0);
    transition: all 0.1s ease-in-out;
}
.card:hover .card__icon {
    /* transform: var(--slightly-bigger); */
    transition: all 0.2s ease-in-out;
    color: var(--accent);
}

/* active page indicator */
.current__title svg {
    border-bottom: 0.2rem solid var(--white);
    box-sizing: unset;
}

.current__title:hover svg {
    border-bottom: 0.2rem solid var(--accent);
}