/* color pallet and relative sizes */
:root {
    --background: #212224;
    --softer-background: #212224;
    --white: #F3F4F5;
    --gray: #D4D4D8;
    --black: #2d2d32;
    --card-color: #333639;
    --accent: #ffd60a;
    --shadow-color: 240deg 5% 84%;
    --shadow:
        0px 0.4px 0.5px hsl(var(--shadow-color) / 0.11),
        0px 1.2px 1.3px -0.8px hsl(var(--shadow-color) / 0.11),
        0px 2.9px 3.3px -1.7px hsl(var(--shadow-color) / 0.11),
        -0.1px 7px 7.9px -2.5px hsl(var(--shadow-color) / 0.11);

    --usable-area: 120.0rem;
    --giga: 7.0rem;
    --huge: 5.4rem;
    --extra-large: 3.6rem;
    --large: 2.4rem;
    --regular: 1.6rem;
    --small: 1.2rem;

    --border-radius: 2.4rem;
    --tiny-gap: 0.8rem;
    --slightly-bigger: scale(1.1);
    --opacity: 0.6;
    --font-light: 300;
    --font-regular: 500;
    --font-bold: 600;
}

/* reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* relative size trick using REM */
html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--regular);
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    width: 100%;
}

/* text and icons */

a {
    text-decoration: none;
    outline: none;
}

ul {
    list-style-type: none;
}

/* navigation bar */
.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;

    width: 100%;
    height: var(--giga);
    background-color: var(--softer-background);
    z-index: 3;
}

nav {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    min-width: var(--usable-area);
    padding: 0 var(--regular);
    height: var(--extra-large);  
}

/* logo */
.logo__container {
    display: flex;
    justify-content: flex-start;
    height: var(--extra-large);
}

.logo {
    display: flex;
    flex-direction: row;
    height: var(--extra-large);
}

.logo__image {
    display: flex;
    height: inherit;
}

.logo__image svg:nth-child(2) {
    margin-left: var(--tiny-gap);
}

.logo__name {
    display: flex;
    flex-direction: column;
    margin-left: var(--tiny-gap);

    color: var(--white);
    text-align: left;
    font-size: 1.3rem;
    font-weight: var(--font-light);
    letter-spacing: 0.3rem;
}

.logo__name, .logo__image {
    color: var(--white);
}

/* menu */
.menu__container {
    display: flex;
    justify-content: center;
    height: auto;
}

.menu {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    list-style-type: none;
    padding: auto var(--giga);
}

.menu__title {
    display: flex;
    
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    white-space: nowrap;

    font-weight: var(--font-light);
    color: var(--white);
    margin: 0rem var(--large);
    height: var(--extra-large);
}
/* anchor for dot indicator */
.menu__title span {
    position: relative;
}

.icon__container {
    position: relative;
    width: 2.0rem;
    height: 2.0rem;
    margin-right: var(--tiny-gap);
}

.icon {
    display: flex;
    height: inherit;
    width: auto;
    padding: 0.1rem;
}

/* contact button */
.contact-button__container {
    height: auto;
    justify-self: flex-end;
}

.contact-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: fit-content;
    white-space: nowrap;
    height: var(--extra-large);
    padding: 0rem var(--large);
    border-radius: var(--extra-large);
    border: none;

    background-color: var(--white);
    color: var(--black);
    text-decoration: none;
    font-weight: var(--font-light);
}

/* hide mobile menu */

.mobile-menu__container,
.mobile-menu {
    display: none;
}